<div id="d3" class="panel d3 span-12">

  <div class="span-4 
              md-screen 
              apply-min-height
              hide-on-mobile">
    <div class="ledge"></div>
    <a  class="btn-4 position-button" 
        href="#fancy-forms">
        Jump
    </a>
  </div>

  <div class="span-8 md-screen relative">
    <div class="section">
      <h2>D3.JS</h2>
      <svg-icon 
        src="assets/data-vis-graph.svg" 
        class="data-vis-graph margin-bottom">
      </svg-icon>
      <a  href="https://codepen.io/collection/XEgqKk/" 
          target="_blank"
          class="btn-1 center-horizontally">
          Lets go see my D3 codepens!
      </a>
    </div>
  </div>

</div>
