.panel.d3 {

  height: 100vh;
  position: relative;
  padding: 0 5%;

  .apply-min-height {
    min-height: 1px;
  }

  .data-vis-graph,
  .data-vis-graph svg {
    width: 100%;
    ::ng-deep #animate-layer {
      height: 98%;
    }
  }

  .data-vis-graph.start {
    ::ng-deep #animate-layer {
      animation: grow 1s 1s forwards;
    }
  }

  @keyframes grow {
    from {
      height: 98%;
    }
    to {
      height: 0;
    }
  }


}