<div id="d3" class="panel d3 span-12">
  
  <div class="span-6 md-screen">
    <!-- <div class="susie"></div> -->
    <div class="ledge"></div>
    <a  class="btn-2 position-button" 
        href="#fancy-forms">
        Jump
    </a>
  </div>

  <div class="span-6 md-screen center-vertically pull-right">
    <div class="section pull-right">
      <h2>Data Visualisations</h2>
      <svg-icon 
        src="assets/data-vis-graph.svg" 
        class="data-vis-graph">
      </svg-icon>
      <button>Go</button>
    </div>
  </div>

</div>
