<div id="fancy-forms" class="panel ff span-12">

  <div class="span-4 
              md-screen 
              apply-min-height
              hide-on-mobile">
    <div class="ledge"></div>
    <a  class="btn-4 position-button" 
        href="#caramello-caser">
        Jump
    </a>
  </div>

  <div class="span-8 md-screen center-vertically">
    <div class="section">
      <h2>Fancy Forms</h2>
      <H1>PLACEHOLDER</H1>
      <a href="http://aimeelally.com/fancy-forms/index.html" class="btn-4 pull-right">Go to Fancy Forms</a>
    </div>
  </div>
  
  
</div>