<div id="contact" class="panel contact span-12">
  
  <!-- <div class="susie"></div> -->

  <div class="evergreen-1"></div>
  <div class="evergreen-2"></div>
  <div class="grass-2"></div>
  <div class="grass-1"></div>

  <div class="span-6 padding-standard md-screen center-horizontally contact-form-position">
    <div class="contact">
      <h2>Get In Touch</h2>
      <form [formGroup]="contactForm" 
            (ngSubmit)="submitContactForm()"
            class="fancy-input-boxes">
        <label 
          class="block xsm-margin-bottom">
          Who are you?
        </label>
        <input type="text"
               class="span-12 margin-bottom"
               id="username" 
               formControlName="username" />
        
        <label 
          class="block xsm-margin-bottom">
          Your email
        </label>
        <input type="email" 
               class="span-12 margin-bottom"
               id="email" 
               formControlName="email" />
        
        <label 
          class="block xsm-margin-bottom">
          What do you want to say?
        </label>
        <textarea type="text"  
                  class="span-12 margin-bottom"
                  id="message" 
                  formControlName="message">
        </textarea>

        <div *ngIf="email.touched && email.errors">
          <div class="error-handling" *ngIf="email.errors.required">
            The email is required
          </div>
        </div>
        <div *ngIf="email.errors">
            <div class="error-handling" *ngIf="email.errors.pattern">
                The email is not valid
            </div>
        </div>

        <button 
          class="btn-1 center-horizontally" 
          [disabled]="!contactForm.valid"
          type="submit">
          Submit
        </button>
      </form>
    </div>
  </div>

</div>
