$modularscale: (
  base: 1em,
  ratio: 1.125
);

$line-height: 1.3;

@mixin modular-font-size($size) {
  font-size: ms($size);
  line-height: calc(#{ms($size)} * #{$line-height});
}

// target everythings and set it to 16em unless otherwise specified
* { 
  @include modular-font-size(0);
  font: inherit; //target all imported elements (svgs) and force them to take the font-family
}
h1 { @include modular-font-size(5); }
h2 { @include modular-font-size(4); }
h3 { @include modular-font-size(3); }
h4 { @include modular-font-size(2); }
h5, h6, p, i, u, strong, li { @include modular-font-size(1); }

.error-handling{
  color: $color-alert;
}

h1,
.overwrite-default-font-for-title a {
  font-family: $font-title;
  color: $color-1;
  text-shadow: 1px 2px $color-font;
}

h2, h3, h4, h5, h6 {
  font-family: $font-subtitle;
  font-weight: 600;
}