<div id="interactive-cv" class="panel interactive-cv span-12">

  <div class="span-4 
              md-screen 
              apply-min-height
              hide-on-mobile">
    <div class="ledge"></div>
    <a  class="btn-4 position-button" 
        href="#contact">
        Jump
    </a>
  </div>

  <div class="span-8 md-screen relative">
    <div class="section">
      <h2>Interactive CV</h2>
      <H1>PLACEHOLDER</H1>
      <p>THIS IS STILL BEING BUILT.</p>
      <p>THERE ARE BUGS. LOTS OF THEM.</p>
      <a href="http://aimeelally.com/interactive-cv/index.html#!/interactive-cv" class="btn-4 pull-right">Go to Interactive CV</a>
    </div>
  </div>
  
  
</div>