<div id="interactive-cv" class="panel interactive-cv span-12">

  <div class="span-4 
              md-screen 
              apply-min-height
              hide-on-mobile">
    <div class="ledge"></div>
    <a  class="btn-4 position-button" 
        href="#contact">
        Jump
    </a>
  </div>

  <div class="span-8 md-screen relative">
    <div class="section span-12">
      <h2>Side Scrolling Experiment</h2>
      <p class="margin-bottom">This is a challenge I've set for myself to build a side scrolling parallax site using html, css(scss), javascript and jquery (wrapped in Angular1). It's buggy but it's getting there.</p>
      <p class="margin-bottom">Even though this is still under construction, I am making it available for anyone who wants to poke into the code to see how it is held together so far.</p>
      <p class="margin-bottom">If you're using a mobile/tablet, you may spot some issues, but fret not, I have a list of bugs as long as my arm which should be ironed out over the next few weeks.</p>
      <p class="margin-bottom">Feel free to log any bugs with me via the contact form (please include device specs) and I shall add it to my very long list.
      </p>
      <img src="assets/interactive-cv-image.png" 
           class="span-12 margin-bottom">
      <a href="http://aimeelally.com/interactive-cv/index.html#!/interactive-cv" 
         target="_blank"
         class="btn-1 center-horizontally">Go see the experiment</a>
    </div>
  </div>
  
  
</div>