<div class="span-12">

  <div class="span-4 md-screen padding-standard">
    <mat-card class="span-12 example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Data Visualisation</mat-card-title>
        <mat-card-subtitle>D3.js</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/donut-graph.png" alt="D3 Logo">
      <mat-card-content>
        <p>
          Samples of custom built D3 graphs.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button 
          mat-raised-button 
          class="span-12" 
          color="primary">
          Page Coming Soon
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="span-4 md-screen padding-standard">
    <mat-card class="span-12 example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Interactive CV</mat-card-title>
        <mat-card-subtitle>HTML, CSS, JS</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/donut-graph.png" alt="D3 Logo">
      <mat-card-content>
        <p>
          Interactive CV
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button 
          mat-raised-button 
          class="span-12" 
          color="accent">
          Page Coming Soon
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="span-4 md-screen padding-standard">
    <mat-card class="span-12 example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Data Visualisation</mat-card-title>
        <mat-card-subtitle>D3.js</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="../assets/donut-graph.png" alt="D3 Logo">
      <mat-card-content>
        <p>
          Samples of custom built D3 graphs.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button 
          mat-raised-button 
          class="span-12" 
          color="primary">
          Page Coming Soon
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>






