.example-card {
  max-width: 400px;
}

.aimee-avatar {
  background-image: url('../../assets/d3-logo.png');
  background-position: center;
  background-size: cover;
  height: 50%;
}

.example-header-image {
  background-image: url('../../assets/d3-logo.png');
  background-position: center;
  background-size: cover;
}
