<div id="initial" class="panel initial span-12">

  <div class="stars-clouds"></div>
  
  <div class="span-4 
              md-screen 
              apply-min-height
              hide-on-mobile">
    <div class="susie"></div>
    <div class="ledge"></div>
    <a  class="btn-4 position-button" 
        href="#d3">
        Jump
    </a>
  </div>

  <div class="span-8 md-screen relative">
    <div class="section">
      <h2>Hi I'm Aimée.</h2>
      <!-- <span class="hide-on-mobile">
        <mat-icon class="inline-block vertical-align-middle margin-bottom">arrow_back</mat-icon>
        <p class="inline-block vertical-align-middle margin-bottom">That's Susie.</p>
      </span> -->
      <p class="margin-bottom">
        I'm a UI developer with a background in both <strong>Fine Art</strong> and <strong>Creative Multimedia Programming</strong>. I have spent the past few years working with <a href="https://www.adaptemy.com/" class="btn-4">Adaptemy</a> in Dublin, Ireland. Together with this team of ridiculously talented people I helped to build an e-learning platform used by teachers and students in a number of different countries across the globe. 
      </p>
      <p class="margin-bottom">
        I am now looking for new and exciting opportunities around Melbourne, so if any of the below applies to you, get in touch.
      </p>
      <!-- <p class="margin-bottom">I'm looking for some interesting projects.</p> -->
      <h3>Contact me if</h3>
      <ul class="span-12 xlg-margin-bottom">
        <li>your project requires lots of custom <strong>CSS, HTML & JS</strong>.</li>
        <li>you need someone with experience <strong>leading a dev team</strong>.</li>
        <li>you need someone with <strong>design experience</strong>, even though it is obviously not their forte.</li>
        <li>you solve styling issues with javascript as a last resort.</li>
        <li>your team are <strong>up for laugh</strong>.</li>
        <li>you are based in <strong>Melbourne</strong>.</li>
      </ul>
      <a  class="btn-1 center-horizontally" 
          href="#contact">
          Get in touch
      </a>
    </div>
  </div>

</div>
