<div id="caramello-caser" class="panel caramello-caser span-12">

  <div class="span-4 
              md-screen 
              apply-min-height
              hide-on-mobile">
    <div class="ledge"></div>
    <a  class="btn-4 position-button" 
        href="#interactive-cv">
        Jump
    </a>
  </div>

  <div class="span-8 md-screen relative">
    <div class="section span-12">
      <h2>Caramello Camel Caser</h2>
      <strong class="span-12 margin-bottom">A better than average Camel Caser</strong>
      <img  src="../assets/caramello-caser-panel.gif" 
            class="span-12 margin-bottom back-shadow">
      <a href="http://caramellocaser.com" 
         target="_blank" 
         class="btn-1 center-horizontally">
         Try it yourself
       </a>
    </div>
  </div>
  
  
</div>